<main class="relative min-w-64 h-screen flex w-screen">
  <div class="flex flex-col justify-start w-full overflow-y-scroll">
    <app-header></app-header>

    <ng-container #snackBarContainer> </ng-container>

    <div class="flex-1 w-full mb-4">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>

  @if (showCartWidget() && (cartItemCount$ | async)) {
  <ng-container [ngTemplateOutlet]="cartWidget"></ng-container>
  }
</main>

<ng-template #cartWidget>
  <div
    id="cart"
    class="w-[90px] sm:w-[120px] md:w-[140px] lg:w-[160px] flex flex-col justify-start items-center bg-green-50 bg-opacity-20 border-l-[1px] border-l-green-800 border-opacity-60"
  >
    <div
      class="w-full p-2 flex flex-col justify-center items-center h-[88px] sm:h-[96px] md:h-[144px] border-b-[1px] border-b-green-800 border-opacity-30"
    >
      <div class="text-sm">Total</div>
      <div class="font-bold md:text-xl">
        {{ currencySymbol }}{{ cartItemTotalValue$ | async }}
      </div>
      <app-button
        ><span
          class="text-xs md:text-sm font-semibold md:font-medium"
          buttonText
          >Checkout</span
        ></app-button
      >
    </div>
    <div class="overflow-y-scroll w-full">
      @for (cartItem of (cartItems$ | async); track $index) {
      <app-course-card
        [course]="cartItem"
        displayAt="cartWidget"
      ></app-course-card>
      }
    </div>
  </div>
</ng-template>

<ng-template #snackBar>
  <div class="fixed w-full h-fit bottom-8 sm:top-14 z-[60] drop-shadow-lg">
    <div
      class="mx-auto w-[90%] md:w-1/2 xl:w-1/3 flex justify-start items-center gap-2 p-2 rounded-lg text-sm text-white bg-gradient-to-r {{
        errorSnackBar()
          ? 'from-red-600 to-red-900 '
          : 'from-green-600 to-green-900'
      }}"
    >
      <div
        class="text-2xl px-2 {{
          errorSnackBar() ? 'text-red-700' : 'text-green-700'
        }}"
      >
        <i class="fi fi-sr-triangle-warning align-sub"></i>
      </div>
      <div class="flex-1">
        @for (item of snackBarMessage(); track $index; let last = $last) {
        {{ item }}
        @if (!last) {<br />} }
      </div>
      <div
        class="px-2 self-start cursor-pointer hover:rotate-90 duration-150"
        (click)="clearSnackBar()"
      >
        &#x2715;
      </div>
    </div>
  </div>
</ng-template>
