@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  h5 {
    @apply text-sm font-semibold;
  }

  table {
    @apply table-auto border-gray-800 dark:border-gray-400 border-[1px] rounded-lg border-collapse shadow-sm shadow-gray-800 dark:shadow-gray-400 border-hidden;
  }

  th {
    @apply text-left p-2 border-gray-800 dark:border-gray-400 border-[1px] select-none;
  }

  td {
    @apply font-light p-2 border-gray-800 dark:border-gray-400 border-[1px] select-none;
  }
} */

/* .slide-up {
  @apply block h-28 overflow-hidden;
}

.slide-up app-toggle-theme-btn {
  @apply block fixed z-20 left-auto right-1 md:right-2 top-1 md:top-2;
} */

.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.25s;
}

.hamburger .hamburger-top,
.hamburger .hamburger-middle,
.hamburger .hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
  @apply bg-gray-900 dark:bg-gray-200;
}

.hamburger .hamburger-middle {
  transform: translateY(7px);
}

.hamburger .hamburger-bottom {
  transform: translateY(14px);
}

.hamburger.open {
  transform: rotate(90deg);
}

.hamburger.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger.open .hamburger-middle {
  display: none;
}

.hamburger.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

a.active-link {
  @apply text-accentBlue dark:text-accentCyan;
}

.ficon:hover {
  /* filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(170deg)
    brightness(101%) contrast(94%); */
}
